nav {
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background: #f5913e;
  justify-content: space-between;
}

h1 {
  margin-left: 30px;
  color: #000;
  text-transform: uppercase;
  user-select: none;
  line-height: 20px;
  font-size: 30px;
  margin-top: 7px;
}

.h1-span {
  display: block;
  font-size: 11px;
  letter-spacing: 2.5px;
  margin-left: 1px;
  font-style: normal;
  color: #fff;
}

.link-holder,
.links {
  display: inline-block;
}

.links,
link {
  margin-right: 30px;
  font-weight: 700;
}
